<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <%- include("nav.ejs") %>
        <div class="text-center">
            <h1 class="mt-2">About</h1>
            <p>This is a calorie counting application that will make you healthier and maintain healthy eating habbits</p>
        </div>

    </body>

</html>
