<div class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand mx-5">Calorie Counter</a>

    <nav>
        <div class="navbar-nav mr-auto">
            <a class='nav-link nav-item' href='/'>Home</a>
            <a class='nav-link nav-item' href='/about'>about</a>
            <a class='nav-link nav-item' href='/signup'>signup</a>
            <a class='nav-link nav-item' href='/login'>sign in</a>
            <a class='nav-link nav-item' href='/account'>account</a>
            <a class='nav-link nav-item' href='/createMeal'>create meal</a>
        </div>
    </nav>
</div>
