<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        <% -include("nav.ejs") %>

        <form method="POST">
            <input name="username" id="username" type="text">User name</input><br>
            <input name="password" id="password" type="password">password</input><br>
            <input name="repassword" id="repassword" type="password">re-enter password</input><br>

            <input type="submit">
        </form>


        <p><%=err%></p>
    </body>

</html>
